.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #404040;
  border-radius: 100vh;
}

.svg-white {
  /* tailwind version: invert-[95%] sepia-[5%] saturate-[0%] hue-rotate-[40deg] brightness-[104%] contrast-[107%] */
  filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(40deg) brightness(104%)
    contrast(107%);
}

.svg-accent {
  /* tailwind version: invert-[0%] sepia-[23%] saturate-[4884%] hue-rotate-[340deg] brightness-[84%] contrast-[85%] */
  filter: invert(0%) sepia(23%) saturate(4884%) hue-rotate(340deg)
    brightness(84%) contrast(85%);
}

.children-arrows-color {
  filter: invert(0%) sepia(23%) saturate(4884%) hue-rotate(340deg)
    brightness(84%) contrast(85%);
}
@media (min-width: 768px) {
  .children-arrows-color {
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(40deg)
      brightness(104%) contrast(107%);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
